<select (change)='selectCurrencyName($event)'>
  <option *ngFor='let curName of allCurrencyName'>{{curName.name}}</option>
</select>

<select (change)='selectAlgorithm($event)'>
  <option value='LinearRegression' selected>Linear Regression</option>
  <option value='RandomForest' >Random Forest</option>
</select>

<select (change)='selectTimeSeries($event)'>
  <option value='sevenDay'>7 day forecast</option>
  <option value='oneMonth'>1 month forecast</option>
  <option value='oneYear'>1 year forecast</option>
</select>


<table border='1'>    
  <tr><th>Name</th><th>Bid</th><th>Ask</th><th>Time</th></tr>
  <tr *ngFor='let result of predictResult'>
  <td>{{result.name}}</td>
  <td>{{result.bid}}</td>
  <td>{{result.ask}}</td>
  <td>{{result.time}}</td>
</tr>  
</table>