
<div class='content'>
    <div *ngIf='currentUser; else guestMode'>
        <h1>Welcome, {{currentUser.name}}</h1>      
        <h3>Login ID: {{currentUser.login}}</h3>
        <h3>User name: {{currentUser.name}}</h3>    
        <h3>Email Address: {{currentUser.email}}</h3>    
        <button (click)='clickChangeBtn()'>==>> Update personal information</button>
    </div>
    <div>
    
    <br>
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" *ngIf='wantToUpdate'>
        New User Name: <input type='text' formControlName='userName'>
        <div *ngIf="submitted && updateForm.controls.userName.errors" class='errorMessage'>
            <div *ngIf="updateForm.controls.userName.errors.required">*User name is required</div>
        </div>    
        <br>
        New Password: <input type='password' formControlName='password'>
        <div *ngIf="submitted && updateForm.controls.password.errors" class='errorMessage'>
            <div *ngIf="updateForm.controls.password.errors.required">*Password is required</div>
            <div *ngIf="updateForm.controls.password.errors.minlength">*Password must be at least 6 characters</div>
        </div>
        <br>
        Confirm New Password: <input type='password' formControlName='confirmPwd'>
        <div *ngIf="submitted" class='errorMessage'>
            <div *ngIf="updateForm.hasError('notSame')">*Confirm password does not match</div>
        </div>
        <br>
        New Email: <input type='email' formControlName='email'><br>
        <button [disabled]="loading">Update</button>
        <button (click)='clickCancelBtn()'>Cancel</button>
    </form>
    </div>
</div>
<ng-template #guestMode>
<div>
    <h1>Hi , Guest !</h1>
    <h3>This is a prediction system on foreign currency rate market.<br>
        As a guest user you can view the latest currency rates information,<br>
        but you have to login for getting the prediction results.</h3>
</div>
</ng-template>