div.content{
    text-align: center;   
}
form{
    border:.1em solid gray;
    border-radius: 4px;
    width: fit-content;
    padding: 1em;    
    font-size: 1em;
    display: inline-block;
    text-align: left;

    input{
        height: 1.5em;
        width: 85%;
        border-radius: 4px;
        font-size: .8em;      
    }
    input:focus{
        background-color: #c3c9d6;
        border:.15em solid #2f3033;
    }
    button{
        cursor: pointer;
        padding: .3em .3em;
        margin: .3em .3em;
        font-size: 1em;
        border: none;
        background-color: rgb(57, 98, 187);
        font-family: 'Courier New', Courier, monospace;
    }
    a{
        padding: .3em .3em;
        margin: .3em .3em;
        font-size: 1em;
        background: rgb(57, 98, 187);
        color: black;
        font-family: 'Courier New', Courier, monospace;
    }
    div.btnGroup{
        text-align: center;
    }
}
div.errorMessage{
    padding: .1em;
    font-size: .7em;
}