div.content{
    text-align: center;   
}
form{
    border:.1em solid gray;
    border-radius: 4px;
    width: fit-content;
    padding: 1em;
    font-size: 1.2em;
    display: inline-block;

    input{
        height: 1.5em;
        width: 10em;
        border-radius: 4px;
        margin: .5em;
        font-size: .8em;
              
    }
    input:focus{
        background-color: #c3c9d6;
        border:.15em solid #2f3033;
    }
}
div.errorMessage{
    padding: 1em;
    display: inline-block;
    font-size: .8em;
}

/* label {
    display: block;
    text-align: left;   
    input, textarea {
        display: block;
        width: 50%;
        margin-bottom: 20px;
        padding: 1em;
    }
    .error {
        margin-top: -20px;
        background: yellow;
        padding: .5em;
        display: inline-block;
        font-size: .9em;
        margin-bottom: 20px;
    }
}
.cta {
    background: #7700FF;
    border: none;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
}
.results {
    margin-top: 50px;
    strong {
        display: block;
    }
    span {
        margin-bottom: 20px;
        display: block;
    }
} */